.example-container{
  text-align: center
}

.form-container{
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

.form-field{
  justify-content:center;
  display: flex;
}

.example-spacer {
  flex: 1 1 auto;
}

.containerImagen {
  background: #E07132;
  height: 100vh;
}


.button{
  background-color: #FFC100;
  color: white;
}

.margenTop{
  margin-top: 10px;
}
