<div fxLayout="row" fxLayoutAlign="start center">
  <app-sidenav></app-sidenav>
  <mat-selection-list class="list-container" #users [multiple]="false">
    <mat-list-option class="list-item" style="height: 70px;" *ngFor="let usuario of usuarios"
      [value]="usuario">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="float"><img class="pfp" src={{usuario.fotoPerfil}} alt="">
        <span class="space-between">{{usuario.nombre}} {{usuario.apellidos}}</span>
        <span>
          <button mat-icon-button aria-label="button warning icon" class="color-icon-black" matTooltip="Ausencias" (click)="goToAusenciaUser(usuario.id)">
            <mat-icon>warning</mat-icon>
          </button>
          <button mat-icon-button aria-label="button flight icon" class="color-icon-black" matTooltip="Vacaciones" (click)="goToVacacionUser(usuario.id)">
            <mat-icon>flight_takeoff</mat-icon>
          </button>
          <button mat-icon-button aria-label="button calendar icon" class="color-icon-black" matTooltip="Actividades" (click)="goToCalendarUser(usuario.id)">
            <mat-icon>calendar_month</mat-icon>
          </button>
      </span>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
