.example-container {
  width: 3vw;
  height: 100vh;
  background-color: #E07132;
}

.color-icon{
  color: whitesmoke;
  padding-top: 1vh;
}

.list-item{
  border: 2px solid gray;
  border-radius: 15px;
  margin-top: 2vh;
  size: 10vh;
}

.list-container{
  width: 93vw;
  height: 99vh;
  margin: auto;
}

.pfp{
  height: 4vh;
  width: 2.5vw;
  border-radius: 50%;
  display: inline;
  margin-right: 2vw;
}

.float{
  display: inline;
}
