<mat-drawer-container class="example-container">
    <div fxLayout="column" fxLayoutAlign="start center">
        <div>
            <a href="http://localhost:4200/home">
                <mat-icon aria-hidden="false" class="color-icon" aria-label="Example home icon"
                    matTooltip="Lista de Usuarios">home</mat-icon>
            </a>
        </div>
        <div>
            <a href="http://localhost:4200/ausencias">
                <mat-icon aria-hidden="false" class="color-icon" aria-label="Example warning icon"
                    matTooltip="Ausencias de hoy">
                    warning</mat-icon>
            </a>
        </div>
    </div>
</mat-drawer-container>
